.actions {
  background-color: rgb(52, 55, 87);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  row-gap: 1.5rem;
  padding: 0.75rem 0;
}

.actions__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
}

.actions__label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
