#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.app__print {
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 0.25rem;

  padding: 0.75rem 1.5rem;

  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #1a1b29;
  }
}

.app__content {
  background-color: white;
  margin: 2rem auto 2rem auto;
  padding: 6rem 4rem 4rem 4rem;

  @media print {
    padding: 0;
    width: 100%;
  }

  @media only screen and (max-width: 1280px) {
    margin: 2rem;
    padding: 5rem 3.5rem;
  }

  @media only screen and (max-width: 768px) {
    margin: 1rem;
    padding: 3rem 2rem;
  }

  @media only screen and (max-width: 400px) {
    margin: 0.5rem;
    padding: 3rem 1.5rem;
  }
}
