:root {
  font-family: Arial;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #edf2f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media print {
    background-color: white;
    font-size: 13px;

    header,
    .actions {
      display: none;
    }
  }
}

body {
  margin: 0;
}

/* https://css-loaders.com/dots/ */
.loader {
  margin: 0 auto;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #000;
  }
}

.button {
  background-color: #2b2d42;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid white;
  padding: 0.75rem 1.5rem;

  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: #2b2d42;
    border: 1px solid #2b2d42;
  }

  &:focus {
    outline: solid 0.125rem white;
    outline-offset: 0.125rem;
    z-index: 1;
  }

  transition: 0.1s ease-in-out;
}
